@import url('https://fonts.googleapis.com/css2?family=Domine&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Serif:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');
body{
    margin: 0;
    padding:0;
}
h1,h2,h3,h4,h5,h6,p,ul{
    list-style: none;
    padding: 0;
    margin: 0;
}
.maincontainer{
    max-width: 1400px;
    margin: 0 auto;
}
.benifits {
    padding-top: 50px;
    padding-bottom: 100px;
}
.headingbenifits {
    padding-bottom: 18px;
}
.headingbenifits h1 {
    font-family: 'Domine', serif;
    font-weight: 400;
    font-size: 60px;
    color: #918A85;
}
.boxess {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
}   

.boxhere {
    font-family: 'Poppins', sans-serif;
    background: red;
    padding: 14px 15px;
    margin-right: 12px;
    height: 322px;
}
.boxhere h4{
    font-size: 16px;
    font-weight: 300;
    padding-bottom: 95px;
}
.boxhere p {
    font-size: 15px;
    line-height: 18px;
    font-weight: 300;
    padding-bottom: 90px;
}
.boxhere h1 {
    font-family: 'Domine', serif;
    font-size: 22px;
    font-weight: 300;
}
.iconshead {
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
}
.lightbluebg{
    background-color: #AEC6EF;
    color: #2D5393;
}
.greencolorbg{
    background-color: #1F4E3C;
    color:#A0CE65;
}
.yellowcolorbg{
    background-color: #EDC03B;
    color:#E56E2C;
}
.graycolorbg{
    background-color: #918A85;
    color:#FFF9F1;
}
.purplebg{
    background-color: #57203C;
    color:#D85991;
}
.lightgreenbg{
    background-color: #A0CE65;
    color: #1F4E3C;
}
.supportexits {
    padding-bottom: 100px;
}
.supportsec {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    align-content: center;
}
.onerighthead {
    width: 35%;
    padding-right: 58px;
}
.onerighthead h1 {
    font-size: 18px;
    color: #918A85;
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    padding-bottom: 20px;
}
.onerighthead p{
    font-family: 'Domine', serif;
    font-size: 38px;
    color: #918A85;
}
.oneleftimg {
    width: 50%;
}
.oneleftimg img {
    width: 100%;
}
.teams {
    padding-bottom: 100px;
}
.onemainteam {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
}
.oneteam {
    margin: 0 10px;
    padding: 25px 25px;
    font-family: 'IBM Plex Serif', serif;
}
.oneteam h1 {
    font-weight: 400;
    font-size: 34px;
    padding-bottom: 12px;
    text-align: left;
    padding-top: 18px;
}
.oneteam img {
    width: 100%;
}
.oneteam p {
    font-size: 20px;
    padding-bottom: 22px;
}

.mainboximg {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.texthovers{
    background-color: #A0CE65;
}
.hoverbenefits {
    padding-bottom: 100px;
}
.imgboxx {
    margin: 0 8px;
    position: relative;
    cursor: pointer;
}
.imgboxx img {
    width: 100%;
}
.texthovers {
    width: 50%;
    font-family: 'Poppins', sans-serif;
    padding: 20px 21px;
    margin: 0 auto;
    position: absolute;
    left: 0;
    right: 0;
    top: 117px;
    display: none;
}
.texthovers h4 {
    font-size: 16px;
    font-weight: 300;
    padding-bottom: 100px;
}
.texthovers p {
    font-size: 15px;
    line-height: 18px;
    font-weight: 300;
    padding-bottom: 70px;
}
.imgboxx:hover .texthovers {
    display: block;
}
.accordion {
    background-color: #A0CE65;
    font-family: 'Poppins', sans-serif;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    margin-top: 12px;
    font-size: 17px;
    transition: 0.4s;
}

  
.accordion:after {
    content: '\002B';
    color: #777;
    font-weight: 400;
    float: right;
    margin-left: 5px;
}
  
  .active:after {
    content: "\2212";
  }
  
  .panel {
    padding: 0px 18px;
    font-family: 'Poppins', sans-serif;
    background-color: #A0CE65;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}
  .minnnheres {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
}
.headingbenifits {
    padding-bottom: 18px;
    width: 100%;
}
  .questionwork {
    width: 90%;
}
.faqsection {
    padding: 0 0 50px 0;
}
@media only screen and (max-width: 1200px)
{
    .maincontainer {
        max-width: 1170px;
        margin: 0 auto;
    }
    .boxhere{
        height: inherit;
    }
    .boxhere p {
        padding-bottom: 75px;
    }
    .onerighthead p {
        font-size: 33px;
    }
    .boxhere {
        margin-right: 10px;
        margin-left: 10px;
    }
    .headingbenifits {
        padding-bottom: 18px;
        margin: 0 10px;
    }
    .texthovers {
        top: 90px;
    }
    .accordion {
        font-size: 14px;
    }
}
@media only screen and (max-width: 991px)
{
    .boxess {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }
    .boxhere {
        margin-bottom: 12px;
    }
    .headingbenifits {
        text-align: center;
    }
    .mainboximg {
        display: flex;
        flex-direction: column;
        align-items: center;
        flex-wrap: nowrap;
    }
    .minnnheres {
        display: flex;
        justify-content: space-around;
        flex-direction: column;
        flex-wrap: nowrap;
        align-items: center;
    }
}
@media only screen and (max-width: 800px)
{
    .supportsec {
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        flex-wrap: nowrap;
        align-items: center;
        align-content: center;
    }
    .oneleftimg {
        width: 80%;
    }
    .onerighthead p {
        font-size: 30px;
        width: 70%;
        margin: 0 auto;
    }
    .onerighthead {
        width: 100%;
        padding-right: 0;
        text-align: center;
        padding-top: 25px;
    }
    .oneteam {
        padding: 25px 18px;
    }
    .oneteam h1 {
        font-size: 27px;
    }
    .oneteam p {
        font-size: 16px;
    }
}
@media only screen and (max-width: 767px)
{
    .onemainteam {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: space-between;
        align-items: center;
        align-content: center;
    }
    .oneteam {
        padding: 25px 18px;
        width: 50%;
        margin-bottom: 23px;
        text-align: center;
    }
    .oneteam h1{
        text-align: center;
    }
    .panel p {
        font-size: 14px;
        padding: 15px 0;
    }
}
@media only screen and (max-width: 414px)
{
    .oneleftimg {
        width: 100%;
    }
    .onerighthead p {
        font-size: 27px;
        width: 86%;
        margin: 0 auto;
    }
    .oneteam {
        width: 75%;
    }
    .imgboxx {
        margin: 0 8px;
        position: relative;
        cursor: pointer;
        padding-bottom: 16px;
    }
    .accordion:after {
        margin-top: -14px;
    }
}
@media only screen and (max-width: 360px)
{
    .texthovers p {
        font-size: 14px;
        padding-bottom: 30px;
    }
    .texthovers h4 {
        font-size: 16px;
        font-weight: 300;
        padding-bottom: 60px;
    }
    .texthovers {
        top: 70px;
    }
}